@page "/"
@using SinusWebShop.Client.Models
@using SinusWebShop.Client.Services
@inject IProductService ProductService
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@rendermode InteractiveServer

<h1>Products</h1>

<p>This component demonstrates showing product data.</p>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Title</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    <td>@product.Category</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        products = await ProductService.GetProductsAsync();

    }
}
